body {
  background: #333;
}
body .center {
  left: 50%;
  top: 50%;
  position: absolute;
  margin-left: -100px;
  margin-top: -100px;
}
body .center .select-button {
  width: 200px;
  height: 180px;
  line-height: 200px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  background: #1da1f2;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #1da1f2),
    color-stop(100%, #1da1f2)
  );
  background-image: -moz-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #1da1f2),
    color-stop(100%, #1da1f2)
  );
  box-shadow: 0 15px #144f8a;
}
body .center .select-button:active {
  box-shadow: 0 0 #144f8a;
  -webkit-transform: translate(0px, 15px);
  -moz-transform: translate(0px, 15px);
  -ms-transform: translate(0px, 15px);
  -o-transform: translate(0px, 15px);
  -webkit-transition: 0.1s all ease-out;
  -moz-transition: 0.1s all ease-out;
  -ms-transition: 0.1s all ease-out;
  -o-transition: 0.1s all ease-out;
  transition: 0.1s all ease-out;
}
