.row-sm-3, .row-sm-6 {
	background-color: #F0FFFF;
}
.panel-default{
	text-align: center;
}
// .media-body{
// 	background-color: lightcyan;
// }
.panel-body{
	display: grid;
	grid-row-gap: 20px;
}
.medias {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 75%;
	margin: 0px auto;
	background-color: lightcyan;
	border:5px solid #1DA1F2;
}
.media-body{
	display: grid;
	grid-row-gap: 20px;
	margin-right: 5%;
}
.panel-title{
	text-decoration: underline;
	font-weight: 600;
}
.tweet-panel-body{
	display: grid;
	grid-row-gap: 20px;
	width: 75%;
	margin: 0px auto;
	
}
.tweet-media-body{
	width: 75%;
    margin: 0px auto;
	background-color: #1DA1F2;
	border: 5px solid lightcyan;
}

.tweet-panel{
	background: #E1E8ED;
}

.row-xs-4-tweet{
	font-weight: 600;
}

.panel-title{
	text-align: center;
} 

.not-row{
	width: 75%;
    margin: 0px auto;
	background-color: #E1E8ED;
	margin-bottom: 20px;
}